# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Adv360-Pro-ZMK-3.0.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
